<R SDID="D2_C24_Estadao.txt.seg" SSENT="1" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="1">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="2" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="5" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="5">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="5" TDID="C24_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="6" TDID="C24_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="6">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="7" TDID="C24_sumario_humano.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="5" TDID="D2_C24_Estadao.txt.seg" TSENT="7">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="10" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="10">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="12" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="12">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="12" TDID="C24_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="12">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="13" TDID="C24_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="13">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="2" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="5" TDID="D4_C24_GPovo.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="5" TDID="D4_C24_GPovo.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="5">
<RELATION TYPE="equivalence" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="6" TDID="D4_C24_GPovo.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="6">
<RELATION TYPE="subsumption" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="7" TDID="D4_C24_GPovo.txt.seg" TSENT="2">
<RELATION TYPE="equivalence" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="7">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="7" TDID="D4_C24_GPovo.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="5" TDID="D2_C24_Estadao.txt.seg" TSENT="7">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="9" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="9">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="10" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="10">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="12" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="12">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="12" TDID="D4_C24_GPovo.txt.seg" TSENT="2">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="12">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="12" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="D2_C24_Estadao.txt.seg" TSENT="12">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="1" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="1">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="2" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="2" TDID="D3_C24_JB.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="6" TDID="D3_C24_JB.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="3" TDID="D2_C24_Estadao.txt.seg" TSENT="6">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="10" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="10">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="12" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D2_C24_Estadao.txt.seg" TSENT="12">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="2" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="2" TDID="D4_C24_GPovo.txt.seg" TSENT="4">
<RELATION TYPE="equivalence" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="4" TDID="C24_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="subsumption" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="3" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="C24_sumario_humano.txt.seg" TSENT="3">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="3" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="C24_sumario_humano.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="4" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="C24_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="5" TDID="D4_C24_GPovo.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="5" TDID="C24_sumario_humano.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="2" TDID="D3_C24_JB.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="3" TDID="C24_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="1" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="2" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="4" TDID="D3_C24_JB.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="3" TDID="D4_C24_GPovo.txt.seg" TSENT="4">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="5" TDID="C24_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="5">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="6" TDID="C24_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="2" TDID="D2_C24_Estadao.txt.seg" TSENT="6">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="13" TDID="C24_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="13">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="5" TDID="D4_C24_GPovo.txt.seg" TSENT="4">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="5">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C24_Estadao.txt.seg" SSENT="6" TDID="D4_C24_GPovo.txt.seg" TSENT="4">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="4" TDID="D2_C24_Estadao.txt.seg" TSENT="6">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="C24_sumario_humano.txt.seg" SSENT="1" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="C24_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="2" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="2">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D4_C24_GPovo.txt.seg" SSENT="3" TDID="D3_C24_JB.txt.seg" TSENT="1">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
<R SDID="D3_C24_JB.txt.seg" SSENT="1" TDID="D4_C24_GPovo.txt.seg" TSENT="3">
<RELATION TYPE="Contradiction" JUDGE="CSTParser"/>
</R>
