<R SDID="D1_C19_Folha.txt.seg" SSENT="1" TDID="C19_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="2" TDID="D1_C19_Folha.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="1" TDID="C19_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="4" TDID="D1_C19_Folha.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="3" TDID="C19_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="2" TDID="D1_C19_Folha.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="3" TDID="C19_sumario_humano.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="3" TDID="D1_C19_Folha.txt.seg" TSENT="3">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="4" TDID="C19_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="4" TDID="D1_C19_Folha.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="5" TDID="C19_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="4" TDID="D1_C19_Folha.txt.seg" TSENT="5">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="1" TDID="D2_C19_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="2" TDID="D1_C19_Folha.txt.seg" TSENT="1">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="2" TDID="D2_C19_Estadao.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="3" TDID="D1_C19_Folha.txt.seg" TSENT="2">
<RELATION TYPE="historical-background" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="3" TDID="D2_C19_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="2" TDID="D1_C19_Folha.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="3" TDID="D2_C19_Estadao.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="3" TDID="D1_C19_Folha.txt.seg" TSENT="3">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D1_C19_Folha.txt.seg" SSENT="5" TDID="D2_C19_Estadao.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="4" TDID="D1_C19_Folha.txt.seg" TSENT="5">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="1" TDID="D2_C19_Estadao.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="1" TDID="C19_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="1" TDID="D2_C19_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="2" TDID="C19_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="1" TDID="D2_C19_Estadao.txt.seg" TSENT="4">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="4" TDID="C19_sumario_humano.txt.seg" TSENT="1">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="2" TDID="D2_C19_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="elaboration" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="2" TDID="C19_sumario_humano.txt.seg" TSENT="2">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="3" TDID="D2_C19_Estadao.txt.seg" TSENT="3">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="3" TDID="C19_sumario_humano.txt.seg" TSENT="3">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="C19_sumario_humano.txt.seg" SSENT="4" TDID="D2_C19_Estadao.txt.seg" TSENT="2">
<RELATION TYPE="follow-up" JUDGE="CSTParser"/>
</R>
<R SDID="D2_C19_Estadao.txt.seg" SSENT="2" TDID="C19_sumario_humano.txt.seg" TSENT="4">
<RELATION TYPE="overlap" JUDGE="CSTParser"/>
</R>
